<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="it.polito.policytool.PolicyTool">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="it.polito.policytool.Perspective"
            id="it.polito.policytool.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="ProjectExplorerView"
            class="it.polito.policytool.ui.view.ProjectExplorer.ProjectExplorerView"
            id="it.polito.policytool.ui.view.ProjectExplorer.ProjectExplorerView">
      </view>
      <view
            name="LandscapeEditorView"
            class="it.polito.policytool.ui.view.LandscapeEditor.LandscapeEditorView"
            id="it.polito.policytool.ui.view.LandscapeEditor.LandscapeEditorView">
      </view>
      <view
            name="SelectorTypesEditorView"
            class="it.polito.policytool.ui.view.SelectorTypesEditor.SelectorTypesEditorView"
            id="it.polito.policytool.ui.view.SelectorTypesEditor.SelectorTypesEditorView">
      </view>
      <view
            name="AnomalyAnalyzerResultView"
            class="it.polito.policytool.ui.view.AnomalyAnalyzerResult.AnomalyAnalyzerResultView"
            id="it.polito.policytool.ui.view.AnomalyAnalyzerResult.AnomalyAnalyzerResultView">
      </view>
      <view
            name="QueryResultView"
            class="it.polito.policytool.ui.view.QueryResult.QueryResultView"
            id="it.polito.policytool.ui.view.QueryResult.QueryResultView">
      </view>
      <view
            name="ComparisonResultView"
            class="it.polito.policytool.ui.view.ComparisonResult.ComparisonResultView"
            id="it.polito.policytool.ui.view.ComparisonResult.ComparisonResultView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="it.polito.policytool.handler.NewHandler"
                  label="New">
            </command>
            <command
                  commandId="it.polito.policytool.handler.OpenHandler"
                  label="Open">
            </command>
            <command
                  commandId="it.polito.policytool.handler.SaveHandler"
                  label="Save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Execute">
            <command
                  commandId="it.polito.policytool.handler.ExecuteDistributedAnalysisHandler"
                  label="Distributed Analysis">
            </command>
            <command
                  commandId="it.polito.policytool.handler.ExecuteQueryHandler"
                  label="Reachability Analysis">
            </command>
            <command
                  commandId="it.polito.policytool.handler.ExecuteComparisonHandler"
                  label="Policy Comparison">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
     
	  <command
            defaultHandler="it.polito.policytool.handler.NewHandler"
            id="it.polito.policytool.handler.NewHandler"
            name="NewHandler">
      </command>      <command
            defaultHandler="it.polito.policytool.handler.OpenHandler"
            id="it.polito.policytool.handler.OpenHandler"
            name="OpenHandler">
      </command>
      <command
            defaultHandler="it.polito.policytool.handler.SaveHandler"
            id="it.polito.policytool.handler.SaveHandler"
            name="SaveHandler">
      </command>
       <command
            defaultHandler="it.polito.policytool.handler.ExecuteDistributedAnalysisHandler"
            id="it.polito.policytool.handler.ExecuteDistributedAnalysisHandler"
            name="ExecuteDistributedAnalysisHandler">
      </command>
      <command
            defaultHandler="it.polito.policytool.handler.ExecuteQueryHandler"
            id="it.polito.policytool.handler.ExecuteQueryHandler"
            name="ExecuteQuerryHandler">
      </command>
      <command
            defaultHandler="it.polito.policytool.handler.ExecuteComparisonHandler"
            id="it.polito.policytool.handler.ExecuteComparisonHandler"
            name="ExecuteComparisonHandler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.polito.policytool.ui.view.PolicyEditor.PolicyEditorView"
            default="false"
            id="it.polito.policytool.ui.view.PolicyEditor.PolicyEditorView"
            name="PolicyEditorView">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="it.polito.policytool.application"
            name="Policy Tool">
         <property
               name="appName"
               value="Policy Tool">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="it.polito.policytool.application"
            name="Policy Tool">
         <property
               name="appName"
               value="Policy Tool">
         </property>
      </product>
   </extension>

</plugin>
